body {
    margin: 0%;
}

#section-heading {
    display: flex;
    padding-left: 10%;
    padding-top: 5%;
    margin-bottom: 180px;
    background-color: aliceblue;
    background-image: url(images/shapes/shape-9.png);
    background-repeat: no-repeat;
    background-size: 540px;
    background-position-x: left;
    background-position-y: top;
}

.half-width {
    width: 50%;
}

#section-heading img {
    height: 540px;
    width: auto;
    padding-left: 14%;
    border-radius: 40%;
}

#heading h1 {
    color: rgb(88, 85, 85);
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 800;
}

#heading {
    border-left: 5px solid salmon;
    padding-left: 2%;
    border-radius: 25px;
    background-color: rgba(255, 254, 249, 0.747);
}

.orange-color {
    color: rgb(255, 190, 11);
}

#section-heading p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
    padding-left: 4%;
}

.button-adjuster {
    padding-left: 4%;
}

.button {
    text-decoration: none;
    align-items: center;
    padding: 10px 30px;
    border-radius: 5%;
    color: white;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
    background-color: rgb(245, 98, 72);
}

#section-card {
    display: flex;
    padding-left: 15%;
    padding-right: 10%;
    margin-bottom: 180px;
}

#card-header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: rgb(165, 62, 62);
    /* padding-top: 20px; */
    margin-bottom: 70px;
}

.flexible-card {
    display: inline;
    border-radius: 15px;
    align-items: center;
    padding-left: 2%;
    padding-right: 1%;
    margin-left: 3%;
    margin-right: 2%;
    height: 400px;
    width: 280px;
}

.flexible-card img {
    height: 150px;
    padding-left: 35%;
    width: 100px;
}

.flexible-card h2 {
    text-align: center;
    font-size: 30px;
    color: chocolate;
}

.flexible-card p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

#left-most {
    background-color: rgb(212, 247, 247);
}

#middle-card {
    background-color: rgba(255, 228, 196, 0.87);
}

#right-most {
    background-color: rgb(195, 255, 200);
}

#section-quato {
    padding-top: 3%;
    padding-bottom: 2%;
    display: flex;
    padding-left: 7%;
    margin-bottom: 180px;
    background-color: aliceblue;
    background-image: url(images/shapes/shape-6.png);
    background-repeat: no-repeat;
    background-size: 610px;
    background-position-x: right;
    background-position-y: bottom;
}

#section-quato img {
    height: 520px;
    width: auto;
    padding-left: 10%;
    border-radius: 10%;
}

#right-side-button h1 {
    text-align: end;
    font-size: 65px;
    color: rgb(36, 88, 75);
    padding: 3%;
    border-right: 2px solid salmon;
    border-radius: 10px;
    background-color: rgba(247, 240, 230, 0.39);
}

#larger {
    font-size: 54px;
    color: rgb(115, 63, 139);
}

#right-side-button p {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding-left: 4%;
    margin-bottom: 40px;
}

#right-side-button {
    padding-right: 6%;
}

#section-community {
    padding-top: 3%;
    padding-bottom: 2%;
    display: flex;
    padding-left: 7%;
    margin-bottom: 180px;
    background-image: url(images/shapes/shape-2.png);
    background-repeat: no-repeat;
    background-size: 540px;
    background-position-x: left;
    background-position-y: bottom;
}

#section-community img {
    height: 540px;
    width: auto;
    padding-left: 14%;
    padding-right: 10%;
}

.community h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 56px;
    font-weight: bold;
    color: rgb(92, 67, 5);
    background-color: rgb(252, 252, 253);
    padding-left: 4%;
    border-radius: 5px;
    border-bottom: 3px solid;
}

.community span {
    color: rgb(221, 67, 11);
}

.community p {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding-left: 4%;
    margin-bottom: 40px;
}

#bonus-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color: darkolivegreen;
    text-align: right;
    padding-right: 10%;
    margin: 120px;
}

#bonus-header span {
    color: rgb(255, 162, 49);
    padding-left: 9%;
}

#section-bonus {
    padding-top: 3%;
    padding-bottom: 2%;
    display: flex;
    padding-left: 22%;
    padding-right: 18%;
    margin-bottom: 180px;
    background-color: aliceblue;
    background-image: url(./images/shapes/shape-8.png);
    background-position-x: right;
    background-position-y: bottom;
    background-size: 160px;
    background-repeat: no-repeat;
}

#section-bonus img {
    height: 350px;
}

#section-bonus h2 {
    font-size: 35px;
    font-weight: bold;
    color: rgb(24, 16, 13);
}

#section-bonus p {
    padding-left: 4%;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 8%;
    border-left: 2px solid;
}

.programming-hero {
    color: rgb(255, 82, 111);
}

footer {
    height: auto;
    background-color: black;
    padding-top: 25px;
}

footer h1 {
    color: white;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    word-wrap: break-word;
}

footer p {
    color: white;
    text-align: center;
    font-size: 20px;
}

footer h6 {
    color: rgb(143, 93, 0);
    margin-bottom: 0;
    text-align: center;
}