body {
    margin: 0%;
}

#section-heading {
    display: flex;
    padding-left: 10%;
    padding-top: 5%;
    margin-bottom: 50px;
}

.half-width {
    width: 100%;
}

#heading-image {
    height: 550px;
    width: auto;
    padding-left: 14%;
    border-radius: 40%;
}

#heading h1 {
    color: grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 800;
}

#heading {
    border-left: 5px solid salmon;
    padding-left: 2%;
    border-radius: 25px;
    background-color: rgba(255, 254, 249, 0.747);
}

.orange-color {
    color: rgba(255, 166, 0, 0.596);
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
    padding-left: 4%;
    color: rgb(68, 51, 51);
}

.button-adjuster {
    padding-left: 4%;
}

.button {
    text-decoration: none;
    align-items: center;
    padding: 10px 30px;
    border-radius: 5%;
    color: white;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
    background-color: rgb(245, 98, 72);
}