body {
    margin: 0%;
}

#section-heading {
    display: flex;
    padding-left: 10%;
    padding-top: 5%;
    margin-bottom: 180px;
}

.half-width {
    width: 100%;
}

#heading-image {
    height: 540px;
    width: auto;
    padding-left: 14%;
    border-radius: 40%;
}

#heading h1 {
    color: grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 800;
}

#heading {
    border-left: 5px solid salmon;
    padding-left: 2%;
    border-radius: 25px;
    background-color: rgba(255, 254, 249, 0.747);
}

.orange-color {
    color: rgba(255, 166, 0, 0.596);
}

#section-heading p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
    padding-left: 4%;
    color: rgb(68, 51, 51);
}

.button-adjuster {
    padding-left: 4%;
}

.button {
    text-decoration: none;
    align-items: center;
    padding: 10px 30px;
    border-radius: 5%;
    color: white;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
    background-color: rgb(245, 98, 72);
}

#section-card {
    display: flex;
    padding-left: 15%;
    padding-right: 10%;
    margin-bottom: 180px;
}

#card-header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: gray;
    /* padding-top: 20px; */
    margin-bottom: 70px;
}

.flexible-card {
    display: inline;
    border-radius: 15px;
    align-items: center;
    padding-left: 2%;
    margin-left: 3%;
    margin-right: 2%;
    height: 400px;
    width: 280px;
}

.flexible-card img {
    height: 150px;
    padding-left: 35%;
    width: 100px;
}

.flexible-card h2 {
    text-align: center;
    font-size: 30px;
    color: chocolate;
}

.flexible-card p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

#left-most {
    background-color: rgb(212, 247, 247);
}

#middle-card {
    background-color: rgba(255, 228, 196, 0.87);
}

#right-most {
    background-color: rgb(195, 255, 200);
}

footer {
    height: auto;
    background-color: black;
    padding: 25px;
}

footer h1 {
    color: white;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
}

footer p {
    color: white;
    text-align: center;
    font-size: 20px;
}